{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
{% load custom_tags %}


{% block title%} Search {% endblock title %} 

{% block content %}
<h1 class="mt-3">Здесь вы можете искать посты по критериям!</h1>

<form action="" method="get" >
  <input type="text" name="title" placeholder="Поиск по заголовку">
  <input type="text" name="author" placeholder="Введите id автора">
  <input type="date" name="created_at" placeholder="Выберите дату">
  <select name="categories">
    {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
</select>
  <input type="submit" value="Найти" />
</form>

<hr>
{% if post_list %} 
  {% for post in post_list %}

  <h3>Статья {{ post.id }}: {{ post.title }}</h3>
  <h5>Дата публикации: {{ post.created_at }}</h5>
  <p>{{ post.text|truncatewords:3|censored }}</p>

  {% endfor %}

  {% else %}
  <h2>Товаров нет!</h2>
{% endif %}

  {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}




{% endblock content %}
